# Python 缓存文件
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec
mxbench/build/
profiles/
# pip 缓存
pip-log.txt
pip-delete-this-directory.txt

# C++ / CUDA 编译产物
*.o
*.obj
*.so
*.a
*.dll
*.dylib
*.exe
*.out
*.cuo
*.ptx

# VSCode 设置
.vscode/

# Jupyter Notebook 检查点
.ipynb_checkpoints

# 安装开发工具的产物
*.egg-info/
.eggs/
*.whl

# PyTorch Extensions 缓存
torch_extensions/

# 系统相关
.DS_Store
Thumbs.db

# 环境配置
.env
.venv/
venv/
env/
.deps
# 编译中间文件
*.log
*.tmp
*.bak
mcoplib/version
build/CMakeFiles/
build/nvbench
build/lib
build/bin
build/
mxbench/install/
mxbench/python/build/
mxbench/python/dist/
dist/
compile_commands.json
*.whl
*.exp
*.obj
*.tmp
*.csv
*.prof
*.nvvp
*.ipynb
*.tfevents.*
*.flamegraph.txt
*.trace.json
*.trace
*.heapsnapshot
*.hccapx
*.cap
*.pcapng
*.txt
